*{
  box-sizing: border-box;
}

.logo{
  max-height: 30vh;
  width: 100%;
  fill: pink;
}
.category-btn{
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 3px solid white;
}
.active-btn{
  border: 3px solid pink;
}

nav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.App{
  display: flex;
  flex-direction: column;
  margin: auto;
}